code/server/training-management/training-management-webservice/.settings/org.eclipse.jdt.core.prefs
code/server/training-management/training-management-webservice/.settings/org.eclipse.m2e.core.prefs
code/server/training-management/training-management-webservice/.settings/org.eclipse.wst.common.component
code/server/training-management/training-management-webservice/.settings/org.eclipse.wst.common.project.facet.core.prefs.xml
code/server/training-management/training-management-webservice/.settings/org.eclipse.wst.common.project.facet.core.xml
code/server/training-management/training-management-webservice/.settings/org.eclipse.wst.validation.prefs
code/server/training-management/.settings/org.eclipse.m2e.core.prefs
code/server/training-management/training-management-business/.settings/org.eclipse.jdt.core.prefs
code/server/training-management/training-management-business/.settings/org.eclipse.m2e.core.prefs
code/server/training-management/training-management-business/.settings/org.eclipse.wst.common.component
code/server/training-management/training-management-business/.settings/org.eclipse.wst.common.project.facet.core.xml
code/server/training-management/training-management-business/.settings/org.eclipse.wst.validation.prefs
code/server/training-management/training-management-dao/.settings/org.eclipse.jdt.core.prefs
code/server/training-management/training-management-dao/.settings/org.eclipse.jpt.core.prefs
code/server/training-management/training-management-dao/.settings/org.eclipse.m2e.core.prefs
code/server/training-management/training-management-dao/.settings/org.eclipse.wst.common.component
code/server/training-management/training-management-dao/.settings/org.eclipse.wst.common.project.facet.core.prefs.xml
code/server/training-management/training-management-dao/.settings/org.eclipse.wst.common.project.facet.core.xml
code/server/training-management/training-management-dao/.settings/org.eclipse.wst.validation.prefs
code/server/training-management/training-management-model/.settings/org.eclipse.jdt.core.prefs
code/server/training-management/training-management-model/.settings/org.eclipse.m2e.core.prefs
code/server/training-management/training-management-model/.settings/org.eclipse.wst.common.component
code/server/training-management/training-management-model/.settings/org.eclipse.wst.common.project.facet.core.xml
code/server/training-management/training-management-model/.settings/org.eclipse.wst.validation.prefs
code/server/training-management/training-management-util/.settings/org.eclipse.jdt.core.prefs
code/server/training-management/training-management-util/.settings/org.eclipse.m2e.core.prefs
code/server/training-management/training-management-util/.settings/org.eclipse.wst.common.component
code/server/training-management/training-management-util/.settings/org.eclipse.wst.common.project.facet.core.xml
code/server/training-management/training-management-util/.settings/org.eclipse.wst.validation.prefs
code/server/training-management/training-management-web/.settings/org.eclipse.jdt.core.prefs
code/server/training-management/training-management-web/.settings/org.eclipse.m2e.core.prefs
code/server/training-management/training-management-web/.settings/org.eclipse.wst.common.component
code/server/training-management/training-management-web/.settings/org.eclipse.wst.common.project.facet.core.xml
code/server/training-management/training-management-web/.settings/org.eclipse.wst.validation.prefs
